/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/bootstrap/dist/css/bootstrap.css");

@import url("../node_modules/font-awesome/css/font-awesome.css");
@import url("../node_modules/primeng/resources/themes/omega/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
